<div class="modal-header">
  <h2 class="modal-title text-center" id="myModalLabel">Congratulations!</h2>
</div><!-- .modal-header -->

<div class="modal-body text-center">
  <img src="http://thats-normal.com/wp-content/uploads/2014/09/confettiAndy.gif" alt="">

  <p>Your order of <strong>c</strong>water is on it's way.</p>

  <p>Would you like to tell the world about how excited you are?</p>

  <p>
    <a href="#" data-dismiss="modal" class="btn btn-lg btn-danger">No Thanks.</a>

    <a href="https://twitter.com/home?status=Holy%20Moly!%20I'm%20super%20excited%20about%20my%20shipment%20of%20%23cwater%20that%20is%20on%20it's%20way." target="_blank" class="btn btn-lg btn-success js-modal-dismiss">Absolutely!</a>
  </p>
</div><!-- .modal-body -->
