<section class="sales-feed">
  <header>
    <h1>These people all love <strong>c</strong>water</h1>
    <p>And soon you will too</p>
  </header>

  <div class="feed js-feed">
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="pull-left">Shawn from Orlando, US</p>
        <p class="pull-right">Quantity: 100</p>
      </div><!-- .panel-body -->
    </div><!-- .panel-default -->

    <div class="panel panel-default">
      <div class="panel-body">
        <p class="pull-left">Shawn from Orlando, US</p>
        <p class="pull-right">Quantity: 100</p>
      </div><!-- .panel-body -->
    </div><!-- .panel-default -->
  </div><!-- .feed -->
</section><!-- .sales-feed -->
