<section class="sales-feed">
  <header>
    <h1>These people all love <strong>c</strong>water</h1>
    <p>And soon you will too</p>
  </header>

  <div class="feed js-feed">
  </div><!-- .feed -->

  <script id="js-template" type="text/ractive">
    {{#items:i}}
      <div class="panel panel-default">
        <div class="panel-body">
          <p class="pull-left">{{ first }} from {{ address }}</p>
          <p class="pull-right">Quantity: {{ quantity }}</p>
        </div>
      </div>
    {{/items}}
  </script>
</section><!-- .sales-feed -->
