<section class="sales-feed">
  <header>
    <h1>These people all love <strong>c</strong>water</h1>
    <p>And soon you will too</p>
  </header>

  <div class="feed container-fluid">
    <div class="panel panel-default">
      <ul class="list-group js-feed">

      </ul><!-- .list-group -->
    </div><!-- .panel-default -->
  </div><!-- .feed -->

  <div class="text-center">
    <%= link_to("View Sales Stats", sales_path, {:class => "btn btn-default btn-lg js-modal-link"}) %>
  </div>

  <script id="js-template" type="text/ractive">
    {{#items:i}}
      <li class="list-group-item clearfix">
        <p class="pull-left">{{ first }} from {{ address }}</p>
        <p class="pull-right">Quantity: {{ quantity }}</p>
      </li>
    {{/items}}
  </script>
</section><!-- .sales-feed -->
