<div class="modal fade js-modal-container" id="cwater-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content js-modal-content">
    </div>
  </div>
</div>
