.hero {
  @include brand-font;
  background: url('hero-lg.jpg') no-repeat center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  color: $white;
  font-size: 48px;

  .hero-copy {
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;

    h1 {
      font-size: 3em;
    }

    p {
      font-size: 1em;
      margin-bottom: 1em;
    }

    .cta {
      @include btn-hollow($white, $orange, 4px);
      @include brand-font(700);
      font-size: .75em;
    }
  }
}
