.hero {
  @include lato;
  background: url('hero-lg.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
  position: relative;
  color: $white;
  font-size: 5vw;

  .hero-copy {
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;

    h1 {
      font-size: 3em;
    }

    p {
      font-size: 1em;
    }
  }
}
