.sales-feed {
  background-attachment: fixed;
  background-size: cover;
  background: url('hero-lg-blurred.jpg') no-repeat center;
  min-height: 60vh;
  padding: 2em 2%;
  position: relative;

  .feed {
    font-size: .75em;
    margin-bottom: 2em;
    max-height: 300px;
    overflow: auto;
  }

  header {
    @include brand-font;
    text-align: center;
    color: $white;
    margin-bottom: 2em;
  }

  .panel p {
    margin-bottom: 0;

    &.panel-title {
      font-size: 1.5em;
      margin-bottom: .5em;
    }
  }
}
