.sales-feed {
  background: url('hero-lg-blurred.jpg') no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  padding: 2em 2%;
  position: relative;

  .feed {
    background-color: transparent;
    font-size: .75em;
    margin-bottom: 2em;
    max-height: 60vh;
    overflow: auto;
    // enables springy, natural-feeling scrolling to touch-enabled devices
    -webkit-overflow-scrolling: touch;

    .panel {
      background-color: transparent;
    }

    .list-group-item {
      background-color: rgba(255, 255, 255, .75);
    }
  }

  header {
    @include brand-font;
    text-align: center;
    color: $white;
    margin-bottom: 2em;
  }

  .panel p {
    margin-bottom: 0;

    &.panel-title {
      font-size: 1.5em;
      margin-bottom: .5em;
    }
  }
}
