<%= render partial: "shared/nav" %>

<section class="hero hero-home">
  <div class="hero-copy">
    <h1><strong>c</strong>water</h1>
    <p>pure spring water infused with Vitamin C</p>
  </div>
</section>
