// in an effort to decrease page weight $weight will need to be either 300 or 700
@mixin brand-font($weight: 300) {
  font-family: 'Lato', sans-serif;
  font-weight: $weight;
}

@mixin btn-hollow($initial: $white, $hover: darken($white, 20%), $borderWidth: 2px) {
  @include transitioned;
  border: $borderWidth solid $initial;
  border-radius: 4px;
  color: $initial;
  padding: .2em .75em .3em;

  &:hover {
    background-color: $initial;
    border-color: $hover;
    color: $hover;
    text-decoration: none;
  }
}

@mixin link($initial, $hover: lighten($initial, 10%), $decoration: none) {
  @include transition(color .25s);
  color: $initial;
  text-decoration: $decoration;

  &:hover {
    color: $hover;
    text-decoration: $decoration;
  }
}

@mixin transitioned($properties: all, $duration: .25s, $delay: 0s) {
  transition: $properties $duration ease-in-out;
  transition-delay: $delay;
}
